@charset "UTF-8";
/* Bottoni nel div-SWAP(a sinistra)-- */
/* --bottone in alto a sinistra sbarrato----------------- */
/* blocco bottoni nel div Swap--------------------------------------------*/
/* --Bottoni scelta valute BNB, CAKE, etc------------------------------------------------- */
/* BUTTON SWITCH SMALL  --   >>>BSS<<<    Check-Box - Staked Only - (ON/OFF Button)-------------- */
/* BOTTONE SEMI TRASPARENTE-2 (scuro) --- (HARVEST)------------------------------
che appare nella sezione che esce dopo che si clicca su una sezione della griglia/lista in Trade → Farm---- */
/* ----Farm → POOLS---- */
/*WIN ..............................................*/
/* ----WIN → PREDICTION (BETA)---- */
/*ETICHETTE Sovrapposte*/
/* ----WIN → LOTTERY---- */
/* text color + "need help" */
/* Inseriti da Clara, da rivedere: */
/* text input color */
/* Text color gradient */
/* cards background color */
/* text color  */
/* nav bar color */
/* website background color */
/* text input color */
.theme-dark {
  --background-floating-bunny: linear-gradient(180deg, rgb(22, 9, 49) 0%, rgb(22, 9, 49) 47%, rgb(19, 8, 43) 65%, rgb(11, 5, 25) 100%, rgb(0, 0, 0) 100%);
  --text-paragraph: rgb(154, 106, 255);
  --heading-2: rgb(244, 238, 255);
}

.theme-light {
  --background-floating-bunny: linear-gradient(102deg, rgb(231, 252, 255) 100%, rgb(239, 244, 255) 100%);
  --text-paragraph: rgb(122, 110, 170);
  --heading-2: rgb(40, 13, 95);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #000000;
  color: purple;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #c3b4ce;
  border: none;
}

.fb-floating-bunny {
  padding-top: 110px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background: var(--background-floating-bunny);
}
.fb-floating-bunny .fb-wrapper {
  color: var(--text-paragraph);
  max-width: 1200px;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.fb-floating-bunny .fb-wrapper .fb-contents-section {
  text-align: left;
  width: 50%;
  flex-shrink: 1;
  padding-left: 60px;
}
.fb-floating-bunny .fb-wrapper .fb-contents-section h2 {
  padding-top: 20px;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.1;
}
.fb-floating-bunny .fb-wrapper .fb-contents-section h3 {
  color: var(--heading-2);
  font-size: 18px;
  padding-top: 20px;
}
.fb-floating-bunny .fb-wrapper .fb-contents-section .fb-buttons-section {
  margin-top: 20px;
  display: flex;
}
.fb-floating-bunny .fb-wrapper .fb-contents-section .fb-buttons-section .button-aquagreen {
  width: 170px;
  margin-right: 10px;
}
.fb-floating-bunny .fb-wrapper .fb-contents-section .link-aquagreen {
  text-decoration: none;
}
.fb-floating-bunny .fb-wrapper .fb-img-section {
  width: 50%;
  flex-shrink: 1;
  position: relative;
}
.fb-floating-bunny .fb-wrapper .fb-img-section .fb-thefloatingbunny {
  margin-right: 10%;
  margin-top: 10%;
  -webkit-animation-name: float-NW;
          animation-name: float-NW;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: none;
          animation-delay: none;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.fb-floating-bunny .fb-wrapper .fb-img-section .fb-thefloatingbunny img {
  z-index: 3;
  width: 100%;
}
.fb-floating-bunny .fb-wrapper .fb-img-section .fb-thefloatingstars {
  height: auto;
  position: absolute;
  width: 100%;
  top: 0px;
  right: 50px;
  z-index: 2;
}
.fb-floating-bunny .fb-wrapper .fb-img-section .fb-thefloatingstars .fb-star1 img {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 5;
  left: 30px;
}
.fb-floating-bunny .fb-wrapper .fb-img-section .fb-thefloatingstars .fb-star2 img {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 5;
}
.fb-floating-bunny .fb-wrapper .fb-img-section .fb-thefloatingstars .fb-star3 img {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 5;
}
.fb-floating-bunny .fb-wrapper .fb-img-section .fb-thefloatingstars img {
  position: absolute;
  width: 100%;
}
.fb-floating-bunny .fb-bottomgradient {
  position: absolute;
  bottom: -8px;
  width: 100%;
}
.fb-floating-bunny .fb-bottomgradient svg {
  z-index: 1;
}

@media screen and (min-width: 1024px) and (max-width: 1247px) {
  .fb-floating-bunny .fb-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .fb-floating-bunny .fb-wrapper .fb-contents-section {
    width: 100%;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section {
    align-self: flex-end;
    right: 0;
    min-width: 10px;
    max-width: 150px;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section img {
    padding-bottom: 130px;
    width: 20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fb-floating-bunny .fb-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .fb-floating-bunny .fb-wrapper .fb-contents-section {
    width: 100%;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section {
    align-self: flex-end;
    right: 0;
    min-width: 10px;
    max-width: 150px;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section img {
    padding-bottom: 80px;
    width: 20%;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .fb-floating-bunny .fb-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .fb-floating-bunny .fb-wrapper .fb-contents-section {
    width: 100%;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section {
    align-self: flex-end;
    right: 0;
    min-width: 10px;
    max-width: 150px;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section img {
    padding-bottom: 80px;
    width: 20%;
  }
}
@media screen and (min-width: 560px) and (max-width: 639px) {
  .fb-floating-bunny .fb-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .fb-floating-bunny .fb-wrapper .fb-contents-section {
    width: 100%;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section {
    align-self: flex-end;
    right: 0;
    min-width: 10px;
    max-width: 150px;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section img {
    padding-bottom: 80px;
    width: 20%;
  }
}
@media screen and (min-width: 480px) and (max-width: 559px) {
  .fb-floating-bunny .fb-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .fb-floating-bunny .fb-wrapper .fb-contents-section {
    width: 100%;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section {
    align-self: flex-end;
    right: 0;
    min-width: 10px;
    max-width: 150px;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section img {
    padding-bottom: 80px;
    width: 20%;
  }
}
@media screen and (max-width: 376px) {
  .fb-floating-bunny .fb-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .fb-floating-bunny .fb-wrapper .fb-contents-section {
    width: 100%;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section {
    align-self: flex-end;
    right: 0;
    min-width: 10px;
    max-width: 150px;
  }
  .fb-floating-bunny .fb-wrapper .fb-img-section img {
    padding-bottom: 80px;
    width: 20%;
  }
}/*# sourceMappingURL=FloatingBunny.css.map */