.p-main-container {
  margin: 70px 0;
  width: 100%;
  height: auto;
  border: 2px solid white;
  display: flex;
  //   flex-direction: column; //FORSE SERVE PERCHè DEVO INSERIRE LA SUB NAVBAR
  justify-content: center;
  align-items: center;
  padding: 4px;
}
