









// ##############################################################


@media screen and (min-width: 968px) { 

    .stat-section {
        @include mq("laptop");
        width: 100%;
        height: auto;
        // padding: 48px 0;
        background: var(--background-stat-section);

            

}



@media screen and (min-width: 851px) and (max-width: 968px) { 

 }



@media screen and (max-width: 851px) { 

 }





