// Use rules
@use "sass:map";

@import "../../abstracts/colors";

$theme-dark: map.set($theme-dark, "nav-bkground", $footer-background);

$theme-light: map.set($theme-light, "nav-bkground", #fff); 

.theme-dark{
    --nav-bkground: #{map.get($theme-dark , "nav-bkground")}; 
}
.theme-light{ 
    
    --nav-bkground: #{map.get($theme-light , "nav-bkground")};
}

.subnav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 56px;
    width: 100%;
    height: 45px;
    background-color: var(--nav-bkground);
    z-index: 1;
    box-shadow: rgb(133 133 133 / 10%) 0px -2px 0px -0px inset;
    //overflow-x: scroll;
    //flex-grow: 1;
    color: aliceblue;
    ul{
        display: flex;
        li{
            padding-right: 20px;
        }
    }
    
}