.usedby_container {
  height: 50rem;
  width: 100%;
  padding-top: 100px;
  background: var(--gradient-usedby);

  .usedby_usedtop {
    width: 100%;
    height: 40%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    img {
      padding-bottom: 20px;
    }
    h2 {
      font-size: 40px;
      color: var(--heading-2);
      padding-bottom: 20px;
      line-height: 1;
    }
    p {
      color: var(--text-subtle-color);
      padding-bottom: 20px;
    }
    span {
      color: var(--text-subtle-color);
      font-weight: bold;
    }
  }

  .usedby_usedbottom {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    --card-color: #27262c;
    --card-border: #1c112f;
    .usedby_card {
      width: 280px;
      height: 300px;
      background-color: var(--colors-usedbt-card);
      border-radius: 30px;
      padding: 30px;
      border-bottom: 5px solid var(--colors-cardBorder);
      flex-wrap: wrap;

      .usedby_card_top,
      .usedby_card_bottom {
        height: 50%;
        width: 100%;
        line-height: 1;
      }
      .usedby_card_top {
        position: relative;
        img {
          position: absolute;
          right: 0;
        }
      }
      .usedby_card_bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font-size: 40px;
          color: var(--heading-2);
          #usedby_diff1 {
            color: rgb(118, 69, 217);
          }
          #usedby_diff2 {
            color: rgb(31, 199, 212);
          }
          #usedby_diff3 {
            color: rgb(237, 75, 158);
          }
        }
        p {
          color: var(--text-subtle-color);
        }
      }
    }
  }
}

// @media screen and (max-width: 968px) {

// }

@media screen and (max-width: 852px) {
  .usedby_container {
    height: auto;
    .usedby_usedbottom {
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 50px;
      .usedby_card {
        height: 180px;
        .usedby_card_top {
          display: none;
        }
        .usedby_card_bottom {
          h2 {
            font-size: 30px;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .usedby_container {
    .usedby_usedtop {
      p {
        padding: 0px 20px;
      }
    }
  }
}
