.dropdown-crypto{
        width: 220px;
        margin: 100px auto;
        position: relative;
    
        .button-navbar-bnb{
        width: 220px;
        height: 32px;
        margin: 2px 4px 4px 0px;
        padding: 0px 16px 0px 0px;
        color: white;
        background-color: blue;
        display: flex;
        img {
            width: 30px;
            height: 30px;
        }
        .drop-content {
            //visibility: hidden;
            position: absolute;
            top: 10rem;
            background-color: #7A6EAA;
            border-radius: 1%;
            width: 12rem;
            //height: 14rem;
            display: flex;
            flex-direction: column;
            //opacity: 0;
            padding: 2px;
            transition: opacity 200ms easy-in-out;
            text-align: center;
            color: #fff;
        }
    }    
}