.frc-main-container {
  width: 100%;
  height: 100%;
  background-color: #383241;
  border-radius: 24px;
  color: #f4eeff;
  overflow: hidden;
  position: relative;
  padding: 1px 1px 3px;
  contain: content;
  // -----------------

  .frc-sub-container {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    overflow: inherit;
    background-color: rgb(39, 38, 44);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .frc-header-box {
      width: 100%;
      height: auto;
      padding: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #383241;

      .frch-box-counter {
        width: auto;
        height: 100%;
        // border: 2px solid chartreuse;
      }

      .frch-box-date-wrapper {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .frch-box-date {
          width: auto;
          height: 100%;
          color: #f4eeff;
          font-weight: 400;
          line-height: 1.5;
          font-size: 14px;
        }
      }
    }

    .frc-body-box {
      width: 100%;
      height: auto;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .frcb-data-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #383241;
        margin-bottom: 8px;

        .frcb-sub-datas-title-container {
          width: 15%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-weight: 600;
          line-height: 1.5;
          font-size: 20px;

          .frcb-sub-datas-title {
            width: 100%;
            height: 100%;
            font-weight: 600;
            line-height: 1.5;
            font-size: 20px;
          }
        }

        .frcb-sub-datas-container {
          width: 316px;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 0 0 0 32px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          flex-wrap: wrap;

          & :nth-child(1),
          :nth-child(2) {
            border: none;
          }
        }
      }

      .frcb-prize-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 8px 0 0 0;
        text-align: left;

        .frcb-pc-sub-title {
          width: 100%;
          height: auto;
          color: rgb(244, 238, 255);
          font-weight: 600;
          font-size: 20px;
          line-height: 110%;
        }

        .frcb-pc-sub-prize {
          width: 100%;
          height: auto;
          color: #9a6aff;
          font-weight: 600;
          line-height: 110%;
          font-size: 40px;
        }

        .frcb-pc-sub-cake-number {
          width: 100%;
          height: auto;
          color: #b8add2;
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 18px;
          font-size: 14px;
        }

        .frcb-pc-sub-subtitles-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .frcb-pc-sub-subtitles {
            width: 100%;
            height: 100%;
            //   width: 100%;

            .frcb-pcss-text {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;

              & :first-child {
                color: #f4eeff;
                font-weight: 400;
                line-height: 1.5;
                font-size: 14px;
              }

              & :nth-child(2) {
                color: #f4eeff;
                font-weight: 600;
                line-height: 1.5;
                margin-left: 4px;
                font-size: 14px;
              }
            }
          }

          .frcb-pcss-a {
            width: auto;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
          }

          .frcb-pcss-b {
            width: auto;
            text-align: right;
            height: 100%;

            .frcb-bottom-link {
              color: #1fc7d4;
              font-weight: 600;
              line-height: 1.5;
              font-size: 16px;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                text-decoration: underline;
              }

              & svg {
                margin-left: 3px;
                fill: #1fc7d4;
              }
            }
          }
        }
      }
    }
  }
}

//
