//IMPORTARE I VARI FOGLI DI STILE 
@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../abstracts/colors";



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


button {
    font-size: 16px;
    padding: 0 24px;
    border-radius: 16px;
    line-height: 1;
    cursor: pointer;
        &:hover {
            opacity: 0.65;
        } 
}

// ACQUA-GREEN----------------------------------------------------------------------

.button-aquagreen {
    @include flex();
    background-color: $main-buttons-background-color; /* rgb(31, 199, 212)*/
    border: none;
    color: $main-buttons-color;/* white*/
    height: 48px;
    font-size: $main-buttons-font-size; /*16px*/
    font-weight: $main-buttons-font-weigth; /*600*/
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;

    &:active {
        transform: translateY(2px);
    }
}


// ONLY-BORDER----------------------------------------------------------------------

.button-onlyborder {
    background-color: $ob-buttons-background-color; /*transparent*/
    color: $ob-buttons-color; /* rgb(31, 199, 212)*/
    border: $ob-buttons-border; /* 2px solid  rgb(31, 199, 212)*/
    height: 48px; /**/
    font-size: $ob-buttons-font-size; /*16px*/
    font-weight: $ob-buttons-font-weigth; /*600*/

        &:active {
            transform: translateY(1px);
        }
}


// BUTTON-SEMITRANSPARENT----------------------------------------------------------------------

.button-semitransparent {
    background-color: $semi-transp-buttons-background-color; /*rgba(31, 200, 212, 0.65)*/
    color: $semi-transp-buttons-color; /*white*/
    border: $semi-stransp-buttons-border; /*none*/
    height: 32px; /**/
    font-weight: $semi-transp-buttons-font-weigth; /*600*/
    padding: 4px 8px; /**/
    border-radius: 6px; /**/
    display: flex;
    justify-content: center;
    align-items: center;
}

//BUTTON ONLY-SVG----------------------------------------------------------------------
.button-osvg {
    background-color: $sw-buttons-background-color; /*transparent*/
    color: $sw-buttons-color; /* rgb(184, 173, 210)*/
    border: $sw-buttons-border; /*none*/
    border-radius: 50%; /**/
    padding: 0 17px; /**/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px; /**/
    height: 32px;
    padding: 0;

        &:hover, &:hover, &:hover {
            opacity: 0.65;
        }

        &:active {
            transform: translateY(2px);
        }        
}    

// -----------------------------------------------------------------------------------


    .currency-btn {

    // background-color: red;        
        background-color: $currency-buttons-background-color; /*transparent*/
        font-size: $currency-buttons-font-size; /*16px*/
        font-weight: $currency-buttons-font-weigth; /*600*/
        height: 32px; 
        width: auto;
        padding: 0 0.5rem;
        border: $currency-buttons-border; /*none*/
        display: flex;
        justify-content: center;
        align-items: center;


            &:hover {
                opacity: 0.65;
            }

            &:active {
                transform: translateY(2px);
            }        


            .currency-btn-content-box {
                max-height: 100%;
                max-width: 100%;
                background-color: transparent;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: $currency-buttons-box-color; /*white*/

                    &svg {
                        width: 24px;
                    }
            }
    }









































