* {
  font-family: Kanit, sans-serif;
}

.fr-wp-main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #434575, #66578d);
  padding: 40px 24px;
  position: relative;

  .frc-svg-top-container {
    width: 100%;
    // background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    width: 100%;
    height: 20px;
    clip-path: url(#topConvexCurve);
    background: linear-gradient(
      90deg,
      rgb(168, 129, 252) 0%,
      rgb(160, 121, 244) 15%,
      rgb(145, 104, 226) 30%,
      rgb(136, 95, 216) 45%,
      rgb(139, 98, 219) 65%,
      rgb(148, 108, 230) 80%,
      rgb(168, 129, 252) 100%
    );
    transform: translate(0px, -1px);

    & svg {
      height: 100%;
    }
  }

  .fr-wp-sub-container {
    height: auto;
    width: 100%;
    // max-width: ; non ce nè bisogno in questa sezione probabilmente, ma valutare con la card pronta
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fr-wp-title-wrapper {
      width: 100%;
      height: 15%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .fr-wp-title {
        border: 2px solid chartreuse;

        font-size: 40px;
        color: rgb(154, 106, 255);
        margin: 0 0 32px;
        text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px,
          rgba(14, 14, 44, 0.1) 0px 4px 12px;
        padding: 0px 2px;
        // background: text rgb(255, 255, 255);
        -webkit-text-stroke: 1px white;
        // ----------
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 32px;
        text-align: center;
        width: auto;
      }
    }

    .fr-wp-card {
      width: 100%;
      max-width: 580px;
      height: 85%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid chartreuse;
    }
  }
}
