//LIST RENDERING ##################################################

.ean-pool-list {
  width: 100%;
  height: 88px;
  background-color: rgb(43, 38, 39);
  border: 1px solid yellow;
}

//GRID RENDERING ##################################################
//PLACEHOLDER REMINDER
// .ean-pool-list {
//     width: 100%;
//     height: 88px;
//     background-color: rgb(43, 38, 39);
//     border: 1px solid yellow;
//   }
