.FarmsPageTop {
  display: flex;
}

.FarmsContainer2 {
  display: flex;
  width: 30%;
}

.FarmsSubcontainer2 {
  display: flex;
}

.FarmsImg1 {
  width: 50%;
}

.FarmsFilters {
  display: flex;
  align-items: center;
}
