* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Kanit, sans-serif;
}

.htp-section {
  width: 100%;
  height: auto;
  padding: 14px 0 48px;
  //colore sfondo uguale
  // background-color: rgb(8, 6, 11);
  // --------
  // background-color: rgb(28, 0, 28);
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;

  .htp-main-container {
    width: 100%;
    max-width: 1200px;
    height: 1554px;
    // background-color: rgb(208, 199, 199);
    border: 1px solid rgb(234, 255, 0);

    padding: 48px 24px;

    .htp-sub-container {
      width: 100%;
      height: 100%;
      // background-color: rgba(255, 127, 80, 0.52);
      border: 1px solid rgb(0, 255, 21);

      .htp-content {
        width: 100%;
        // margin-bottom: 40px;
        padding: 10px;
      }
      .htpc-1 {
        // background-color: blue;
        border: 1px solid rgb(0, 213, 255);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .htpc-1-title {
          // color: rgb(154, 106, 255);
          border: 1px solid rgb(13, 0, 255);
          font-size: 40px;
          margin: 0 0 24px;
        }

        .htpc-1-text-a {
          // color: rgb(244, 238, 255);
          border: 1px solid red;

          font-size: 16px;
        }

        .htpc-1-text-b {
          // color: rgb(244, 238, 255);
          border: 1px solid rgb(242, 0, 255);

          font-size: 16px;
        }
      }

      .htpc-2 {
        // background-color: rgb(181, 245, 32);
        border: 1px solid rgb(160, 205, 49);
        height: autp;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      // ---------
      .htp-div-line {
        // background-color: #383241;
        border: 1px solid rgb(98, 165, 196);
        height: 1px;
        margin: 40px 0px;
        width: 100%;
      }
      // ---------
      .htpc-3 {
        // background-color: rgb(71, 71, 249);
        border: 1px solid rgb(99, 201, 99);
        height: auto;
        display: flex;

        .htpc-3-text {
          width: 70%;
          height: 100%;
          // background-color: yellowgreen;
          border: 1px solid yellowgreen;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          //PROVVISORIO, POI DEVO IMPLEMENTARE DELLE
          //CLASSI GENERICHE PER TUTTI I PARAGRAFI, TITOLI,  COLORI, FONT ETC
          //CE ANCHE NELLA SEZIONE DOPO
          //inizio----------------------------------------------
          .htp-titles-c-fs {
            color: rgb(154, 106, 255);
            font-size: 24px;
          }

          .htp-sub-titles-c-fs {
            color: rgb(244, 238, 255);
            font-size: 20px;
          }

          .htp-text-c-fs {
            color: rgb(184, 173, 210);
            font-size: 16px;
          }

          .htp-list-style {
            list-style: none;
            margin-left: 8px;
          }
          // -- -- -- -- -- -- -- -- -- --
          .htpc-3-title-a {
            margin: 0 0 24px;
          }

          .htpc-3-title-b {
            margin: 0 0 24px;
          }

          // .htp-description {
          // }
          // .htp-description-a {
          // }
          // .htp-description-b {
          // }
          // .htp-description-c {
          // }

          //fine----------------------------------------------
        }
        .htpc-3-card {
          width: 30%;
          height: 100%;
          // background-color: red;
          border: 1px solid red;
        }
      }

      .htpc-4 {
        // background-color: rgb(121, 121, 244);
        border: 1px solid rgb(177, 88, 178);
        height: auto;
        display: flex;

        .htpc-4-text {
          width: 70%;
          height: 100%;
          // background-color: yellowgreen;
          border: 1px solid yellowgreen;

          //PROVVISORIO, POI DEVO IMPLEMENTARE DELLE
          //CLASSI GENERICHE PER TUTTI I PARAGRAFI, TITOLI,  COLORI, FONT ETC
          //inizio----------------------------------------------
          .htp-titles-c-fs {
            color: rgb(154, 106, 255);
            font-size: 24px;
          }

          .htp-sub-titles-c-fs {
            color: rgb(244, 238, 255);
            font-size: 20px;
          }

          .htp-text-c-fs {
            color: rgb(184, 173, 210);
            font-size: 16px;
          }
        }

        .htpc-4-card {
          width: 30%;
          height: 100%;
          // background-color: rgb(14, 81, 163);
          border: 1px solid red;
        }
      }

      .htpc-5 {
        height: auto;
        // background-color: rgb(170, 170, 238);
        border: 1px solid rgb(182, 123, 221);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .htpc-5-svg-box {
          width: 30%;
          height: 100%;
          // background-color: yellowgreen;
          border: 1px solid rgb(121, 229, 58);
        }
        .htpc-5-text {
          width: 30%;
          height: 100%;
          // background-color: red;
          border: 1px solid red;
        }
      }
    }
  }
}
