// Use rules
@use "../../components/buttons/buttons";
@use "sass:map";

// Import rules
@import "../../abstracts/mixins";
@import "../../abstracts/colors";


// Set colori tema scuro
$theme-dark: map.set($theme-dark, "fa-moon", rgb(39, 38, 44));
$theme-dark: map.set($theme-dark, "fa-sun", $footer-background);
$theme-dark: map.set($theme-dark, "nav-bkground", $footer-background);
$theme-dark: map.set($theme-dark, "popup-bg", $footer-background);
$theme-dark: map.set($theme-dark, "text-color", white);
$theme-dark: map.set($theme-dark, "popup-modal1-bg", $popup-gradient);
$theme-dark: map.set($theme-dark, "label-bg", $label-toggle-bg-dk);
$theme-dark: map.set($theme-dark, "border-bottom-pp",rgb(56,50,65));
$theme-dark: map.set($theme-dark, "icon-text-color", $primary-dk);
$theme-dark: map.set($theme-dark, "hover-nav-ul", $hover-navbar-ul);
$theme-dark: map.set($theme-dark, "btn-bg-tx", $border_color);
$theme-dark: map.set($theme-dark, "btn-bg", $button-bg-color-dk);

// Set colori tema chiaro
$theme-light: map.set($theme-light, "fa-moon", white);
$theme-light: map.set($theme-light, "fa-sun", #f39c12);
$theme-light: map.set($theme-light, "nav-bkground", #fff); 
$theme-light: map.set($theme-light, "popup-bg", #fff); 
$theme-light: map.set($theme-light, "text-color", $background-color-dk);
$theme-light: map.set($theme-light, "popup-modal1-bg", $header-popup-gradient);
$theme-light: map.set($theme-light, "label-bg", $label-toggle-bg);
$theme-light: map.set($theme-light, "border-bottom-pp", #d9d9d9 );
$theme-light: map.set($theme-light, "icon-text-color", $primary-color);
$theme-light: map.set($theme-light, "hover-nav-ul", $border_color);
$theme-light: map.set($theme-light, "btn-bg-tx", $tertiary-color);
$theme-light: map.set($theme-light, "btn-bg", $border_color);


.theme-dark{
    --fa-moon: #{map.get($theme-dark , "fa-moon")};
    --fa-sun: #{map.get($theme-dark , "fa-sun" )};
    --nav-bkground: #{map.get($theme-dark , "nav-bkground")}; 
    --popup-bg: #{map.get($theme-dark , "popup-bg")}; 
    --text-color: #{map.get($theme-dark , "text-color")};
    --popup-modal1-bg: #{map.get($theme-dark , "popup-modal1-bg")};
    --label-toggle-bg: #{map.get($theme-dark , "label-bg")};
    --border-bottom-pp: #{map.get($theme-dark , "border-bottom-pp")};
    --icon-text-color: #{map.get($theme-dark , "icon-text-color")};
    --hover-nav-ul: #{map.get($theme-dark , "hover-nav-ul")};
    --btn-bg-tx: #{map.get($theme-dark , "btn-bg-tx")};
    --btn-bg: #{map.get($theme-dark , "btn-bg")};
    

}
.theme-light{ 
    --fa-moon: #{map.get($theme-light , "fa-moon")};
    --fa-sun: #{map.get($theme-light , "fa-sun" )};
    --nav-bkground: #{map.get($theme-light , "nav-bkground")};
    --popup-bg: #{map.get($theme-light , "popup-bg")}; 
    --text-color: #{map.get($theme-light , "text-color")};
    --popup-modal1-bg: #{map.get($theme-light , "popup-modal1-bg")};
    --label-toggle-bg: #{map.get($theme-light , "label-bg")};
    --border-bottom-pp: #{map.get($theme-light , "border-bottom-pp")};
    --icon-text-color: #{map.get($theme-light , "icon-text-color")};
    --hover-nav-ul: #{map.get($theme-light , "hover-nav-ul")};
    --btn-bg-tx: #{map.get($theme-light , "btn-bg-tx")};
    --btn-bg: #{map.get($theme-light , "btn-bg")};

}

.mobile-icon, .logoBunny{
    display: none;

}
.icon{
    i{
        color: $primary-color;
    }
}
 
.menu-nav ul, a, i, li a{
    //@include list-style();
    text-decoration: none;
    color: var(--icon-text-color);
    font-size: 16px ;
    list-style: none;
    li {
        display: flex;
        justify-content: space-between;
        i{
            color: $tertiary-color;
        }
    }
    
}
.menu-nav li{
    &:hover, &:focus{
        background-color: var(--hover-nav-ul);
        border-radius: 0px;
        &:not(:last-child, :first-child){
            border-radius: 5px;
        }
        
    }
    ul li:hover{
        background-color: var(--hover-nav-ul);
        border-radius: 15%;

    }
}

.menu-ul{
     list-style: none;
}
nav {
    @include flex(row, space-between, center);
    background-color: var(--nav-bkground);
    width: 100%;
    height: 56px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 98;
    border-bottom: 1px solid var(--border-bottom-pp);
    .flex{
        @include flex(center);
        div, h2, ul{
            padding: 5px;
            cursor: pointer;
        }
        .active{
            color: $secondary-dk;
            border-bottom: 2px solid $btn-bg-color;
        }
        p{
            color: var(--icon-text-color);
            font-size: 16px ;   
        }
        ul{
            display: flex;
            li{
                list-style: none;
                color: var(--icon-text-color);
                font-size: 16px ;
                padding: 15px;
                position: relative;
                &:hover ul{
                    opacity: 1;
                    visibility: visible;
                }
               
                ul{
                    position: absolute;
                    top: 3rem;
                    left: -0.25rem;
                    //box-shadow: 0 0 3px gray;
                    background-color: var(--nav-bkground);
                    @include setRadius (15px);
                    border: 1px solid --border-bottom-pp;
                    width: 12rem;
                    display: flex;
                    flex-direction: column;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 200ms easy-in-out;
                    li.line-dd{
                        border-bottom: 1px solid $input-color;
                        border-top:    1px solid $input-color;
                    }
                }
            }
        }
        #hover:hover{
            width: 32px;
        }
        
        .dropdown{
            visibility: hidden;
            position: absolute;
            top: 2.5rem;
            background-color: #7A6EAA;
            border-radius: 1%;
            width: 12rem;
            //height: 14rem;
            display: flex;
            flex-direction: column;
            opacity: 0;
            padding: 2px;
            transition: opacity 200ms easy-in-out;
            text-align: center;
            color: #fff;
            li{
                margin-bottom: 5px;
            }
        }
        
        .btn-gear {
            border: none;
            background-color: transparent;
            i{
               color: $primary-color;
            }
            &:hover {
                color: rgb(154, 106, 255, 30%);
            }
        }
        .button-aquagreen{
            width: 149px;
            height: 32px;
            margin: 2px 4px 4px 0px;
            padding: 0px 16px;
        }
        .button-navbar-bnb{
            width: 220px;
            height: 32px;
            margin: 2px 4px 4px 0px;
            padding: 0px 16px 0px 0px;
            color: var(--btn-bg-tx);
            background-color: var(--btn-bg);
            img{
                width: 30px;
                height: 30px;
            }
            // .fa-svg-icon{
            //     fill: red;
            // }
            

        }
        
    } 
}


.fa-svg-icon{
    // fill: $secondary-color;
    &:hover{
        color: rgb(154, 106, 255, 30%);
        cursor: pointer;

    }
    
}
//update untill now

@include mq('tablet-small', 'tablet') {
    nav{
        .flex{
            #money, .igZcUN, ul, .mini-logo {
                display: none;
            }
            
        }
        
    }
    

}

@include mq('phone', 'phablet'){
    nav{
        .flex{
            #money, .igZcUN, ul, .mini-logo {
                display: none;
            }
            .mobile-icon, .logoBunny{
                display: inline;
            
            }
            #main-logo{
                display: none;
            }
            .button-navbar-bnb{
                font-size: 0;
                width: 80px;
            }
            
        }   
    }
}





