.gytc-main-container {
  width: 754px;
  height: auto;
  border-radius: 24px;
  contain: content;
  background-color: rgb(55, 50, 64);
  padding: 1px 1px 3px 1px;

  .gytc-sub-container {
    contain: content;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    border-radius: 24px;

    //HEADER---------------------
    .gytc-header-container {
      width: 100%;
      height: auto;
      background-color: rgb(59, 60, 79);
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      padding: 16px 25px;

      .gytc-sub-header-left {
        font-size: 20px;
      }

      .gytc-sub-header-right {
        font-size: 16px;
      }
    }
    // BODY----------------------
    .gytc-body-container {
      width: 100%;
      height: auto;
      padding: 24px;
      background-color: rgb(39, 38, 44);
      border-bottom: 1px solid rgb(55, 50, 64);

      .gytc-body-sub-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .gytc-sbi {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          height: 100%;
          gap: 32px;
          font-size: 16px;
          color: rgb(243, 238, 254);

          .gytc-sbi-sub {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            & h2 {
              color: rgb(243, 238, 254);
              font-size: 20px;
            }
          }

          .gytcbs-a {
            width: 20%;
          }
          .gytcbs-b {
            width: 88%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0 0 18px 0;

            & Button {
              margin-left: 20px;
            }

            .gytcbs-amount-a {
              font-size: 40px;
              color: rgb(147, 108, 247);
              font-weight: 600;
              line-height: 1;
            }

            .gytcbs-amount-b {
              font-size: 14px;
              color: rgb(182, 173, 207);
              font-weight: 400;
              line-height: 1.5;
              vertical-align: baseline;
            }
          }
        }
      }
    }

    // FOOTER--------------------
    .gytc-footer-container {
      width: 100%;
      height: auto;
      background-color: rgb(39, 38, 44);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .gytc-footer-sub-container {
        width: 100%;
        height: auto;
      }

      .gytc-fsc-datas-container {
        padding: 24px;
        background-color: rgb(8, 6, 11);

        .gytc-fsc-datas-description-box {
          width: 100%;
          color: #f4eeff;
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 24px;
          font-size: 14px;
          margin: 0 0 24px;
          text-align: left;
        }

        .gytc-datas-container {
          width: 100%;
          height: auto;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: auto;
          flex-wrap: wrap;
          row-gap: 16px;
        }
      }
      .gytc-fsc-button {
        padding: 8px 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        & Button {
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 7px;
          align-items: center;
          padding: 0 24px;
          font-weight: 600;
          letter-spacing: 0.03em;
          line-height: 1;
          transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
        }
      }
    }
  }
}
