.earn-pool-section-list {
  background-color: red;
  height: auto;
  width: 100%;
  max-width: 1200px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  contain: content;
}
