@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/animations";
@import "../../abstracts/theme";
@import "../../abstracts/typography";
@import "../../abstracts/root";
@import "../../abstracts/utility";
@import "../../abstracts/variables";

.tbw-main-container {
  width: 100%;
  height: auto;
  padding: 87px 0 148px 0;
  background: linear-gradient(rgb(255, 216, 0) 0%, rgb(253, 171, 50) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  contain: content;

  .tbw-sub-container {
    height: 550px;
    width: 100%;
    max-width: 737px;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    //IMAGE
    .tbw-image-container {
      width: 50%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
      }
    }
    //TITLES  ---> MANCA IL COLORE DEL BORDO DEI TITOLI
    .tbw-titles-container {
      width: 50%;
      height: 100%;
      margin: 0 0 0 46px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;

      .tbw-title-a {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 3px solid chartreuse;

        .tbw-title-a1 {
          font-size: 24px;
          padding: 0 2px;
          margin: 0 0 4px 0;
          color: rgb(255, 255, 255);
          font-weight: 600;
          line-height: 1.5;
        }
        .tbw-title-a2 {
          font-size: 32px;
          padding: 0 2px;
          margin: 0 0 0 4px;
          color: rgb(147, 108, 247);
          font-weight: 600;
          line-height: 1.5;
        }
      }

      .tbw-title-amount {
        border: 3px solid chartreuse;

        font-size: 64px;
        color: rgb(154, 106, 255);
        padding: 0px 2px;
        font-weight: 600;
        line-height: 1.5;
      }

      .tbw-title-b {
        font-size: 40px;
        margin: 16px 0 0;
        color: rgb(40, 13, 95);
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 25px;
      }

      //Wrapper BIGLIETTO---------------
      .tbw-ticket {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
      }

      .tbw-features {
        width: 100%;
        height: auto;
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .tbw-feature {
          width: 100%;
          height: auto;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;

          .tbwf-a {
            color: rgb(255, 255, 255);
          }
          .tbwf-b {
            color: rgb(40, 13, 95);
            margin: 0 3px;
          }
        }
      }

      .tbw-countdown-box-wrap {
        width: 100%;
        height: 45px;
        border-bottom: 1px dotted white;
        margin: 32px 0 0 0;
        padding: 2px;
        border: 2px solid rgb(212, 16, 199);
      }
    }
  }

  //BOTTOM CONTAINERS

  //BACKGROUND IMAGE
  .tbw-bottom-background-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://pancakeswap.finance/images/pottery/bg-star.svg)
      center 0px / cover no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  //MOVING IMAGES
  .ipt-bottom-moving-img-container {
    // border: 3px solid rgb(21, 4, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    & img {
      border: 2px solid chartreuse;
      position: absolute;
    }

    & :nth-child(1) {
      top: -7px;
      left: 20%;
      width: 92px;
      height: 48px;
      // -------------
      @include float-anim(4s, "NE");
    }

    & :nth-child(2) {
      top: 56px;
      left: -1%;
      width: 135px;
      height: 85px;
      // -------------
      @include float-anim(5s, "NE");
    }

    & :nth-child(3) {
      top: 26%;
      left: 3%;
      width: 232px;
      height: 106px;
      // -------------
      @include float-anim(6s, "NE");
    }

    & :nth-child(4) {
      bottom: 7%;
      left: 16px;
      width: 248px;
      height: 178px;
      // -------------
      @include float-anim(5s, "NE");
    }

    & :nth-child(5) {
      top: 25px;
      right: 4%;
      width: 151px;
      height: 43px;
      // -------------
      @include float-anim(3s, "NE");
    }

    & :nth-child(6) {
      top: 26%;
      right: 3%;
      width: 160px;
      height: 89px;
      // -------------
      @include float-anim(5s, "NE");
    }

    & :nth-child(7) {
      bottom: 7%;
      right: -1%;
      width: 156px;
      height: 205px;
      // -------------
      @include float-anim(5s, "NE");
    }
  }
}

//
