.win-lottery-main-container {
  width: 100%;
  height: auto;
  // background-color: rgba(116, 192, 220, 0.263);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
