@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/animations";
@import "../../abstracts/theme";
@import "../../abstracts/typography";
@import "../../abstracts/root";
@import "../../abstracts/utility";
@import "../../abstracts/variables";

.win-lottery-main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
