.utd-cd-main-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;

  //DATE
  .utd-cd-box {
    width: auto;
    height: 100%;
    margin: 0 0 3px;

    .utd-counter {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      // width: 100%;
      width: fit-content;
      height: 100%;
      gap: 4px;
      align-items: baseline;

      //ITEMS
      .utd-cd-item {
        font-weight: 600;
        line-height: 1.1;
        // background: linear-gradient(
        //   rgb(128, 81, 214) 0%,
        //   rgb(73, 34, 134) 100%
        // );
        background-color: chartreuse;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -text-fill-color: transparent;
      }

      .utd-cd-number {
        font-size: 40px;
      }

      .utd-cd-time {
        font-size: 20px;
      }
    }
  }

  //TEXT
  .utd-cd-text {
    width: auto;
    height: auto;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    color: white;
    margin: 0 0 3px;
  }
}

// .aaa-bg {
//   background: linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
// }
