.utd-cd-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  .utd-cd-box {
    width: 100%;
    height: 100%;
    margin: 0 0 3px;

    .utd-counter {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      // width: 100%;
      width: fit-content;
      height: 100%;
      gap: 4px;
      align-items: baseline;

      .utd-cd-item {
        font-weight: 600;
        line-height: 1.1;
        background: linear-gradient(
          rgb(128, 81, 214) 0%,
          rgb(73, 34, 134) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -text-fill-color: transparent;
      }

      .utd-cd-number {
        font-size: 40px;
      }

      .utd-cd-time {
        font-size: 20px;
      }
    }
  }
  .utd-cd-text {
    width: 100%;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    color: white;
    margin: 0 0 3px;
  }
}
