//IMPORTARE VARIABILI, MIXIN etc...
@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/animations";
@import "../../abstracts/theme";
@import "../../abstracts/typography";
@import "../../abstracts/root";
@import "../../abstracts/utility";
@import "../../abstracts/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cywwn-main-container {
  //COLORE GIUSTO - ↓ - da sostituire con le variabili
  background-color: rgb(53, 54, 87);
  width: 100%;
  height: auto;
  padding: 48px, 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0;

  .cywwn-sub-container {
    width: 100%;
    max-width: 516px;
    height: 212px;

    padding: 48px 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    .cywwn-content-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 100%;

      .cywwn-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .cywwnc-a {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
        }
      }

      .cywwnc-b {
        grid-column: 2/3;
        grid-row: 1/2;
        flex-direction: column;
        width: 100%;

        .cywwnc-b-title1 {
          color: white;
          font-size: 20px;
        }
        .cywwnc-b-title2 {
          color: white;
          font-size: 20px;
          margin: 0 0 24px;
        }
      }

      .cywwnc-c {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}
