@import "../../abstracts/animations";
@import "../../abstracts/mixins";

@include float(10px, "NE");
@include float(10px, "NW");

.ipt-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  width: 100%;
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
  position: relative;

  .in-prize-main-container {
    padding: 48px 24px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    //TITLES
    .ip-sc-titles {
      // background-color: rgba(255, 0, 0, 0.5);
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .ipt-title-a {
        font-size: 20px;
        color: white;
        margin: 0 0 8px 0;
      }

      .ipt-number {
        font-size: 64px;
        color: rgb(244, 181, 82);
        margin: 0 0 8px 0;
      }

      .ipt-title-b {
        font-size: 24px;
        color: white;
        margin: 0 0 32px;
      }
    }

    //SVG Wrapper---------------
    .ipt-ticket-container-wrapper {
      width: 290px;
      height: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  //BACKGROUND IMAGE
  .ipt-bottom-background-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // ------------------
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://pancakeswap.finance/images/decorations/bg-star.svg)
      center 0px no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  //MOVING IMAGES
  .ipt-bottom-moving-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    & img {
      border: 2px solid chartreuse;
      position: absolute;
    }

    & :nth-child(1) {
      left: 19%;
      top: 42%;
      @include float-anim(5s, "NW");
    }

    & :nth-child(2) {
      left: 25%;
      top: 23%;
      @include float-anim(5s, "NW");
    }

    & :nth-child(3) {
      right: 19%;
      top: 24%;
      @include float-anim(4s, "NE");
    }

    & :nth-child(4) {
      left: 24%;
      top: 67%;
      @include float-anim(5s, "NE");
    }

    & :nth-child(5) {
      right: 25%;
      top: 73%;
      @include float-anim(4s, "NW");
    }
  }
}
