@import "../../abstracts/theme";

$graph-bar-height: 30px;

body {
    background-color: var(--background-perpetual);
}

.perpetual-item {
    box-sizing: border-box;
    color: white;
    margin: 0px;
    min-width: 0px;
    border-radius: 16px;
    box-shadow: rgb(64, 51, 84) 0px 2px 0px;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden auto;
    background-color: var(--background-perpetual-item);
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    .graph-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: $graph-bar-height;
        padding: 5px 20px;

        .generalButtonRules {
            padding: 0;
            margin: 5px;
            font-size: 80%;
            color: var(--background-perpetual);
        }

    }
    
    .graph-body {
        overflow: hidden;
    }
}